*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{ font-size: 1.25;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius:5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(213, 196, 196);
    background-color: rgb(76, 44, 171);    
}

button:hover{
    background-color: blueviolet;
}

.container{
    max-width: 100%;
    margin: auto;
}

color-acento{
    color:blueviolet}
header{
    background-color:rgb(99, 102, 114);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgba(137, 43, 226, 0.74);
    font-size: 1.7em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #d3baddde;
}
header a:hover{
    color: rgba(137, 43, 226, 0.397);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70%;
    color: white;
    background-image: linear-gradient(
        0deg
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5),
        )
        <img src="../foto2">
        
        <   (/img/FOTO2.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;            
}

#hero h1{
    color: rgb(210, 103, 237);
}
#nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    color: rgb(0,0,0.5) ;

}

#notros.container{
    background-color: (30,30,30);
    color: rgb(216, 209, 209);
    text-align: center;
}

#nostros.container
{
    padding: 100px 12px;
}

#nuestros-postres{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    color: rgb(0,0,0.5) ;

}
#nuestros-postres{
    background-color: (30,30,30);
    color: rgba(33, 29, 31, 0.978);
    text-align: center;
}

#nuestros-postres.container{
    padding: 75px 12px;
}

#pedidos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50%;
    color: white;
    background-image: linear-gradient(
        0deg
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5),
        )
        <img src="../foto2">
        
        <   (/img/FOTO2.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;            
}

#pedidos{
    color: rgb(210, 103, 237);
}
#pedidos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    color: rgb(0,0,0.5) ;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-columns: repeat(3, 20px);
}

/* galeria/ Nuestros postres  */
h2{
    text-align: center;
    font-size: 34px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 35px;
    color: mediumslateblue;
    

}
.content-all{
    width: 210px;;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 13s infinite linear;
    transform-style: preserve-3d;   
}
.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 98%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}



.content-carrousel figure:nth-child(1){transform: rotateY(0deg)translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg)translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg)translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg)translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg)translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg)translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg)translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg)translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg)translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg)translateZ(300px);}

.content-carrousel img{
    width: 98%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.35);
    transition: all 300ms;
}

@keyframes rotar {
    from{
        transform: rotateY(0deg);
        transform: rotateY(360deg);
    }
    
}